<footer class="bg-danger text-white pt-5 mt-5">
  <div class="container pb-4">
    <div class="row gy-4 justify-content-center text-center text-md-start">
      <div class="col-lg-3 col-md-6">
        <span class="text-uppercase mb-4">Fundación Panda Rojo</span>
        <p><i class="fa-solid fa-house"></i> Calle Conservación, 123 - 28001 Madrid</p>
        <p><i class="fa-solid fa-phone"></i> +34 91 123 45 67</p>
        <p><i class="fa-solid fa-at"></i> info@pandarojo.org</p>
        <a href="/#donaciones" class="btn btn-outline-light btn-sm mt-2" style="font-weight: 700; background-color: #CF2637;">Hazte Socio</a>
      </div>
      <div class="col-lg-3 col-md-6">
        <span class="text-uppercase mb-4">Enlaces</span>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/#quienesSomos" class="text-white text-decoration-none">Quiénes Somos</a></li>
          <li class="mb-2"><a href="/#imagenes" class="text-white text-decoration-none">Imágenes</a></li>
          <li class="mb-2"><a href="/#caracteristicas" class="text-white text-decoration-none">Características</a></li>
          <li class="mb-2"><a href="/#donaciones" class="text-white text-decoration-none">Donaciones</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <span class="text-uppercase mb-4">Proyectos</span>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Reforestación de bambú</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Centro de rescate</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Investigación</a></li>
          <li class="mb-2"><a href="#" class="text-white text-decoration-none">Educación ambiental</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <span class="text-uppercase mb-4">Síguenos</span>
        <div class="d-flex justify-content-center justify-content-md-start gap-2 mb-3">
          <a href="#" class="btn btn-outline-light" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
          <a href="#" class="btn btn-outline-light" aria-label="Twitter"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="#" class="btn btn-outline-light" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
          <a href="#" class="btn btn-outline-light" aria-label="YouTube"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <span class="text-uppercase">Newsletter</span>
        <div class="input-group">
          <input type="email" class="form-control" placeholder="Tu correo electrónico" aria-label="Correo newsletter">
          <button class="btn btn-light" type="button">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</footer>