<!-- HEADER con VBAR semántico mejorado -->
<header class="sticky-top">
  <nav class="navbar navbar-expand-sm bg-danger bg-gradient navbar-dark shadow-sm" aria-label="Navegación principal">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="/" aria-label="Inicio ONG Panda Rojo">
        <i class="fas fa-paw me-1"></i> PandaRojo
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"
        aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Menú de navegación">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/#quienesSomos">Quiénes Somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#imagenes">Imágenes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#caracteristicas">Características</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/donaciones.html">Donaciones</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-display="static">
              Proyectos
            </a>
            <ul class="dropdown-menu text-end text-sm-start" style="min-width: 150px;">
              <li><a class="dropdown-item" href="/#proyectos">Proyecto 1</a></li>
              <li><a class="dropdown-item" href="/#proyectos">Proyecto 2</a></li>
              <li><a class="dropdown-item" href="/#proyectos">Proyecto 3</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>